.layout-add {
  grid-area: add;
}

.layout-container {
  background-color: #ffea6c;
  border-radius: 16px ;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:   "add add" "list list";
  min-height: 18vh;
  min-width: 30vw;
  padding: 15px 25px;
}

.layout-list {
  grid-area: list;
}