.add-container {
    display: grid;
    grid-template-areas:  "text edit"  "text edit";
    margin: 15px 0;
    min-height: 100px;
    width: 100%;
    padding: 10px;
}

.add-edit {
    align-self: center;
}

.add-edit--button {
    background-color: #54fffb ;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 12px 10px;
    transition: .4s ease-in;
    width: 10rem;
}

.add-edit--button:hover {
    color: #54fffb;
    background: white;
}

.add-input {
    padding: 20px 0 10px 0;
}

.add--input--field {
    background-color: white;
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    width: 90%;
    min-height: 40px;
    padding: 0 10px;
}
